.App {
  text-align: center;
}

.menu_left {
  color: red;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}
.menu_left,
.menu_right {
  font-size: 2rem;
}
